// .dealer-management {

// }
.dx-button-has-text .dx-button-content {
  padding: 5px 16px;
  background-color: green;
  color: white;
}
.dx-toolbar-items-container {
  margin-bottom: 20px;
}
.dx-popup-title.dx-toolbar .dx-toolbar-before {
  padding-top: 18px;
}
.FlagEditEticket > .dx-field-item-label-location-top {
  display: none !important;
}
.labeltop .dx-field-item-label {
  width: 100% !important;
}
.ListSys_Group .dx-list-item {
  padding: 7px 0 7px 0;
}
