@import "../../themes/generated/variables.base";
@import "../../themes/variables.common";

.eticket {
  .sep-bottom-1 {
    border-bottom: solid 1px #aab3bb;
  }

  .select-phone {
    .dx-texteditor.dx-editor-filled::after {
      border-bottom: 0px;
    }
  }

  .sep-bottom-3 {
    border-bottom: solid 3px #eee;
  }

  .sep-bottom-5 {
    border-bottom: solid 5px #eee;
  }

  .sep-bottom-7 {
    border-bottom: solid 7px #eee;
  }

  .text-tile-eticket-detail {
    min-width: 100px;
  }

  .avatar {
    border-radius: 50%;
    border: solid 1px #e4e4e4;
    background-color: #e4e4e4;
    display: inline-block;
    padding: 0;
    text-transform: uppercase;
    color: $base-accent;
    text-align: center;
    font-weight: 600;
  }

  .avatar-sm {
    width: 32px;
    height: 32px;
    font-size: 14px;
    line-height: 32px;
  }

  .avatar-sx {
    width: 28px;
    height: 28px;
    line-height: 24px;
    font-size: 14px;
  }

  .avatar-name {
    line-height: 30px;
    display: inline-block;
  }

  .avatar-name .name {
    line-height: 30px;
  }

  .message-type {
    position: absolute;
    left: -16px;
    top: calc(50% - 12px);
    width: 32px;
    height: 26px;
    line-height: 24px;
    display: block;
    background: #f9f9f9;
    text-align: center;
    border-radius: 4px;

    i {
      margin-top: 3px;
      width: 16px;
      height: 16px;
      background-image: url(/images/icons/files/gif.svg);
      background-repeat: no-repeat;
      background-position: center center;
      background-size: contain;
      display: inline-block;
    }
  }
  .message-type.callout {
    background: rgba(209, 232, 255, 1);
  }
  .message-type.callmissedout {
    background: #ffeae1;
  }
  .message-type.callmissedin {
    background-color: #ffe8ee;
  }

  .message-type.call {
    background-color: #d5f9e8;
  }

  .message-type.call.in {
    background-color: #d5f9e8;
    i {
      background-image: url(/images/icons/call_in.svg);
    }
  }
  .message-type.call.out {
    background-color: #d1e8ff;
    i {
      background-image: url(/images/icons/call_out.svg);
    }
  }
  .message-type.call.missed {
    background-color: #ffe8ee;
    i {
      background-image: url(/images/icons/call_missed.svg);
    }
  }
  .message-type.call.noanswer {
    background-color: #ffeae1;
    i {
      background-image: url(/images/icons/call_noanswer.svg);
    }
  }
  .message-type.emailin {
    background-color: #d5f9e8 !important;
    i {
      background-image: url(/images/icons/email_in.svg);
    }
  }
  .message-type.emailout {
    background-color: #d1e8ff;
    i {
      background-image: url(/images/icons/email_out.svg);
    }
  }
  .message-type.remark {
    background: #c9ffdd;
  }

  .message-type.note {
    background-color: rgba(213, 249, 232, 1);
  }

  .message-type.zaloin,
  .message-type.zaloout {
    background: rgba(218, 242, 255, 1);
    i {
      background-image: url(@packages/ui/icons/svg/zalo.svg);
    }
  }

  .message-type.callin {
    background: rgba(213, 249, 232, 1);
  }

  .part-reply-call {
    .message-type {
      left: -32px;
    }
  }

  .message-type.callMissedIn {
    background: rgba(255, 232, 238, 1);
  }

  .message-type.callMissingOut {
    background: rgba(255, 234, 225, 1);
  }

  .message-type.callOut {
    background: rgba(209, 232, 255, 1);
  }

  .message-reply {
    margin-top: 10px;
    padding-left: 50px;
    padding-right: 30px;
    .input-area {
      // background: #fff;
      padding-bottom: 0px !important;
      // border-top: solid 1px #ccc;
      // border-bottom: solid 1px #ccc;
      .part-email {
        form {
          flex: 1;
        }

        .upload-field-files-container {
          display: flex;
          align-items: flex-start;
          flex: 2;

          .upload-field-files {
            display: flex;
          }
        }
      }

      .dx-layout-manager .dx-field-item:last-child {
        padding-bottom: 0px;
      }
      .buttons {
        span {
          cursor: pointer;
          color: #666;
        }
      }
    }

    textarea {
      border: none;
      background: transparent;
      outline: none;
      width: 100%;
      resize: none;
      margin-top: 10px;
      margin-bottom: 10px;
    }

    textarea:focus,
    input:focus {
      outline: none;
    }

    textarea:focus {
      outline: none;
      -webkit-box-shadow: none;
      box-shadow: none;
      border: none;
    }
  }

  .detail {
    .sp-warning {
      // padding: 6px 10px;
      // background: #ffdcdc;
      // color: #ff004a;
      font-family: Inter;
      font-size: 13px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      border-radius: 3px;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      -ms-border-radius: 3px;
      -o-border-radius: 3px;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
    }

    .detail-customer-name {
      font-size: 14px;
      font-weight: 600;
    }

    .detail-customer-phone {
    }

    .btn-msg-action {
      border-color: #517d95 !important;
      min-width: 40px;
      min-height: 30px;
      width: 24px !important;
      height: 24px !important;
      border-color: #ccc;
      color: #666;

      i {
        width: 12px;
        height: 12px;
      }
    }

    .detail-header {
      padding: 16px;
    }

    .status {
      background: rgba(41, 142, 242, 1);
      color: #fff !important;
    }

    .status.open {
      // background-color: ;
      background: #cfb929;
    }
    .status.new {
      background: rgba(15, 188, 43, 1);
    }
    .status.sloved {
      background: rgba(41, 142, 242, 1);
    }
    .status.closed {
      background: rgba(167, 167, 167, 1);
    }
    .status.processing {
      background: rgba(228, 130, 3, 1);
    }
    .status.on-hold {
      background: rgba(139, 98, 192, 1);
    }
    // status waiting on customer
    .status.waiting.on.customer {
      background: #20ada5;
    }
    .status.resolved {
      background: #eb3573;
    }
    .status.Waiting.on.third.party {
      background: rgba(211, 72, 72, 1);
    }

    .dx-tab {
      .dx-tab-text {
        font-weight: 400 !important;
        font-size: 14px !important;
      }
    }
    .dx-tab-selected {
      .dx-item-content {
        position: relative;
        :before {
          position: absolute;
          bottom: 10px;
          left: 0;
          width: 100%;
          height: 2px;
          background-color: #00703c !important;
        }
      }

      .dx-tab-text {
        font-weight: 600 !important;
        font-size: 14px !important;
      }
    }

    .status {
      color: white !important;
      font-size: 12px !important;
      text-transform: capitalize !important;
      border-radius: 3px;
      padding: 4px 10px;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      -ms-border-radius: 3px;
      -o-border-radius: 3px;
    }

    .status.new {
      background: #0fbc2b;
    }

    .status.processing {
      background: #e48203;
    }

    .status.sloved {
      background: #298ef2;
    }

    .status.closed {
      background: #a7a7a7;
    }

    .text-gray {
      color: #5f7d95;
      font-family: Inter;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }

    .eticket-nav-right__text-left {
      font-size: 13px;
    }

    .detail-header-value {
      font-size: 14px;
      font-weight: 600 !important;
      font-family: "Inter";
      color: #0e223d;
    }

    .phone-button {
      .dx-button-content {
        border-top-left-radius: 0px !important;
        border-bottom-left-radius: 0px !important;
        border-top-right-radius: 3px !important;
        border-bottom-right-radius: 3px !important;
      }
      display: flex;
      align-items: center;
      justify-content: center;
      border-top-right-radius: 3px !important;
      border-bottom-right-radius: 3px !important;
    }

    .detail-avatar {
      width: 42px;
      height: 42px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .text-gray {
    color: #888;
  }

  .text-red {
    color: #f00;
  }

  .status {
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
  }

  .processing {
    background: #e48203;
    color: #fff;
  }

  .dx-texteditor {
    height: 25px;
  }

  .dx-dropdownbox {
    border: none !important;
    text-decoration: none;
  }

  .dx-dropdowneditor-input-wrapper {
    // border-bottom: none !important;
    // text-decoration: none;
  }

  .dx-texteditor-container {
    font-size: 14px;
    font-weight: 500;

    background: #fff;
    border: solid 1px #444;
    border-radius: 3px;
    text-decoration: none;
    outline: none;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
  }

  .dx-texteditor-input-container {
    background: #fff;
    border: none;
    outline: none;
  }

  .dx-dropdowneditor-input-wrapper {
    border: none;
    outline: none;
  }

  .dx-placeholder {
    color: #333 !important;
  }

  .dx-texteditor-label {
    color: #333;
  }

  .dx-texteditor-input {
    background: #fff;
    border: none;
    outline: none;
  }

  .dx-texteditor-input:focus {
    outline: none;
  }

  .dx-button {
    height: 30px;
    min-height: 25px;
  }

  .dx-button-content {
    height: 30px !important;
  }

  .dx-button-has-icon {
    border-radius: 0 !important;
  }

  .dx-button-text {
    text-transform: none !important;
  }

  .tag-list {
    .tag {
      display: inline-block;
      border-radius: 30px;
      color: #fff;
      background-color: #999;
      padding: 3px 10px 4px;
      font-size: 11px;
      // -webkit-border-radius: 30px;
      // -moz-border-radius: 30px;
      // -ms-border-radius: 30px;
      // -o-border-radius: 30px;
    }

    .tag:nth-child(1) {
      background-color: #3abfbf;
    }

    .tag:nth-child(2) {
      background-color: #b07cc9;
    }

    .tag:nth-child(3) {
      background-color: #dbcf60;
    }

    .tag:nth-child(4) {
      background-color: #e0e;
    }
  }

  .tab-ctn-1 {
    color: $base-bg;

    .dx-tabs {
      background-color: transparent;
    }

    .dx-item-content {
      background-color: $header-bg;
      color: $base-text-color;

      height: 30px;

      .menu-item {
        height: 30px;
      }
    }

    .dx-tab {
      background-color: $header-bg;
      color: $base-text-color;

      padding-bottom: 4px;

      &.dx-item {
        .dx-tab-text {
          border-bottom: solid 2px transparent;
          font-weight: bold;
          font-size: 1.1em;
        }
      }
    }

    .dx-tab-selected {
      &:before {
        content: none;
      }

      border: none;
      background-color: #fff;
      border-bottom: solid 2px $base-accent;

      .dx-tab-content {
        border: none;
        background-color: #fff;
        color: $base-accent;

        .dx-tab-text {
          background-color: #fff;
        }
      }
    }
  }

  .tab-ctn-2 {
    color: $base-bg;

    .dx-tabs {
      background-color: transparent;
    }

    .dx-item-content {
      background-color: transparent;
      color: $base-text-color;
      height: 30px;
    }

    .dx-tab {
      background-color: transparent;
      color: $base-text-color;

      padding-bottom: 4px;

      &.dx-item {
        .dx-tab-text {
          margin-top: 10px;
          border-bottom: none;
          font-weight: bold;
          font-size: 1.1em;
          background-color: transparent;
        }
      }
    }

    .dx-tab-selected {
      &:before {
        content: none;
      }

      border: none;

      .dx-tab-content {
        border: none;
        background-color: transparent;
        color: $base-accent;

        .dx-tab-text {
          background-color: #eaf9f2;
          padding-left: 10px;
          padding-right: 10px;
        }
      }
    }
  }

  .attachment {
    background-color: #eee;
    position: relative;
    border-radius: 3px;
    display: inline-block;
    max-width: 150px;
    text-overflow: ellipsis;
    overflow: hidden;
    padding: 3px 17px 3px 7px;

    white-space: nowrap;

    a {
      color: #333;
    }

    a:hover {
      opacity: 0.7;
    }

    a.remove {
      position: absolute;
      right: 3px;
      top: 5px;
    }
  }
}

//custom icons

.dx-icon-custom-reply {
  background-image: url(/images/icons/reply.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  display: inline-block;
  height: 1rem;
  width: 1rem;
}

.dx-icon-custom-file-doc {
  background-image: url(/images/icons/files/doc.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  display: inline-block;
  height: 1rem;
  width: 1rem;
}

.dx-icon-custom-file-docx {
  background-image: url(/images/icons/files/docx.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  display: inline-block;
  height: 1rem;
  width: 1rem;
}

.dx-icon-custom-file-xls {
  background-image: url(/images/icons/files/xls.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  display: inline-block;
  height: 1rem;
  width: 1rem;
}

.dx-icon-custom-file-xlsx {
  background-image: url(/images/icons/files/xlsx.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  display: inline-block;
  height: 1rem;
  width: 1rem;
}

.dx-icon-custom-file-zip {
  background-image: url(/images/icons/files/zip.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  display: inline-block;
  height: 1rem;
  width: 1rem;
}

.dx-icon-custom-file-pdf {
  background-image: url(/images/icons/files/pdf.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  display: inline-block;
  height: 1rem;
  width: 1rem;
}

.dx-icon-custom-file-rar {
  background-image: url(/images/icons/files/rar.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  display: inline-block;
  height: 1rem;
  width: 1rem;
}

.dx-icon-custom-file-txt {
  background-image: url(/images/icons/files/txt.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  display: inline-block;
  height: 1rem;
  width: 1rem;
}

.dx-icon-custom-file-ppt {
  background-image: url(/images/icons/files/ppt.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  display: inline-block;
  height: 1rem;
  width: 1rem;
}

.dx-icon-custom-file-pptx {
  background-image: url(/images/icons/files/pptx.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  display: inline-block;
  height: 1rem;
  width: 1rem;
}

.dx-icon-custom-file-gif {
  background-image: url(/images/icons/files/gif.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  display: inline-block;
  height: 1rem;
  width: 1rem;
}

.eticket-list {
  .dx-layout-manager .dx-field-item {
    padding-bottom: 0px;
  }

  .dx-item.dx-list-item {
    .dx-box-flex {
      display: flex;
      flex-direction: row;
    }
  }
}

.message-type {
  display: flex !important;
  align-items: center;
  justify-content: center;
  svg {
    height: 18px;
    width: 18px;
  }
}

.eticket-detail {
  & > .dx-box {
    &:first-child {
      // position: fixed;
      overflow: auto;
    }
  }
  .eticekt-form {
    margin-bottom: 4px;
  }

  .form-content-zalo {
    padding-top: 8px !important;
  }

  .dx-field-item-label-text {
    font-size: 13px;
    color: #5f7d95;
    font-weight: 400;
  }

  .form-zalo-eticket {
    padding-left: 12px;
    padding-right: 12px;
  }

  .group-part {
    padding-bottom: 8px !important;
  }

  .follower-css {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-end;

    .box-follower {
      margin-right: 5px;
      margin-bottom: 5px;
    }
  }

  .eticket-nav-right__text-left {
    color: #5f7d95;
    font-family: Inter;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .input-area-content {
    min-height: 100px;
    border-radius: 3px !important;
    border: 1px solid #5f7d95 !important;
    -webkit-border-radius: 3px !important;
    -moz-border-radius: 3px !important;
    -ms-border-radius: 3px !important;
    -o-border-radius: 3px !important;
  }

  .part-detail-info-value {
    word-wrap: break-word;
    text-align: right;
  }

  .show-1 {
    .dx-tabs-wrapper {
      .dx-item {
        visibility: hidden;
      }
    }
  }
}

.text-bold {
  font-weight: 600 !important;
  color: #0e223d;
}

.dx-field-item-content {
  .dx-dropdowneditor-input-wrapper {
    ::after {
      display: none !important;
    }
  }
}

.dx-htmleditor-content.ql-blank::before {
  font-size: 13px !important;
  color: #5f7d95 !important;
  font-style: normal !important;
}

.input-area-content {
  font-size: 14px;
  font-weight: 500;
  // background: #fff;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
  // border: 1px solid #9aa2ae;
}

.dx-daterangebox-separator {
  padding-left: 5px !important;
  padding-right: 5px !important;
}

.dx-daterangebox {
  background-color: white !important;
  .dx-texteditor.dx-editor-filled {
    background-color: white;
  }

  overflow: hidden;
  align-items: center;

  border: 1px solid #5f7d95 !important;
  padding: 9px 11px 8px !important;
  height: 30px;
  .dx-texteditor-container {
    border: none !important;
    height: auto;
  }

  .dx-texteditor-input {
    padding: 0px !important;
  }
}

.status-container {
  .status {
    // background: rgba(41, 142, 242, 1);
    color: #fff !important;

    &.approve {
      background: #cf4e27 !important;
    }
    &.continued {
      background: #e48203 !important;
    }
    &.started {
      background: #0fbc2b !important;
    }
    &.pending {
      background: #cfb929 !important;
    }
    &.finish {
      background: #298ef2 !important;
    }
    &.paused {
      background: #d62d2d !important;
    }
    &.open {
      background: #cfb929 !important;
    }
    &.new {
      background: rgba(15, 188, 43, 1) !important;
    }
    &.sloved {
      background: rgba(41, 142, 242, 1) !important;
    }
    &.closed {
      background: rgba(167, 167, 167, 1) !important;
    }
    &.callagain {
      background: rgba(228, 130, 3, 1) !important;
    }
    &.on-hold {
      background: rgba(139, 98, 192, 1) !important;
    }
    &.waitingoncustomer {
      background: #20ada5 !important;
    }
    &.waiting.on.third.party {
      background: rgba(211, 72, 72, 1) !important;
    }
  }
}

.status-container {
  .status {
    // background: rgba(41, 142, 242, 1);
    color: #fff !important;

    &.approve {
      background: #0fbc2b !important;
    }
    &.continued {
      background: #e48203 !important;
    }
    &.started {
      background: #0fbc2b !important;
    }
    &.pending {
      background: #cfb929 !important;
    }
    &.finish {
      background: #298ef2 !important;
    }
    &.paused {
      background: #d62d2d !important;
    }
    &.open {
      background: #cfb929 !important;
    }
    &.new {
      background: rgba(15, 188, 43, 1) !important;
    }
    &.sloved {
      background: rgba(41, 142, 242, 1) !important;
    }
    &.closed {
      background: rgba(167, 167, 167, 1) !important;
    }
    &.callagain {
      background: rgba(228, 130, 3, 1) !important;
    }
    &.on-hold {
      background: rgba(139, 98, 192, 1) !important;
    }
    &.waiting.on.customer {
      background: #20ada5 !important;
    }
    &.waiting.on.third.party {
      background: rgba(211, 72, 72, 1) !important;
    }
  }
}

.dx-datagrid
  .dx-datagrid-content
  .dx-datagrid-table
  .dx-row
  > td.dx-cell-modified:not(.dx-field-item-content):not(
    .dx-validation-pending
  ).dx-command-select,
.dx-datagrid
  .dx-datagrid-content
  .dx-datagrid-table
  .dx-row
  > td.dx-datagrid-invalid:not(.dx-field-item-content):not(
    .dx-validation-pending
  ):not(.dx-datagrid-select-all).dx-command-select,
.dx-datagrid
  .dx-datagrid-content
  .dx-datagrid-table
  .dx-row
  > td:not(.dx-validation-pending):not(
    .dx-datagrid-select-all
  ).dx-command-select {
  background-color: white;
}

.dx-datagrid-rowsview .dx-selection.dx-row:not(.dx-row-focused) > td,
.dx-datagrid-rowsview .dx-selection.dx-row:not(.dx-row-focused) > tr > td,
.dx-datagrid-rowsview .dx-selection.dx-row:not(.dx-row-focused):hover > td,
.dx-datagrid-rowsview
  .dx-selection.dx-row:not(.dx-row-focused):hover
  > tr
  > td {
  background-color: #eaf9f2 !important;
}
