.ProfileForm {
  .dx-field-item-label-content {
    width: 100% !important;
    text-align: left !important;
  }
  .dx-field-item-label-location-left {
    padding: 0;
  }
  .dx-field-item-label {
    min-width: 100px !important;
  }

  .dx-field-item-content-location-right {
    margin-right: 20px !important;
  }
}
