.date-range-field {
  .dx-texteditor-container {
    border: 0.5px solid #5F7D95;
    border-radius: 2px;
    .dx-texteditor-input-container {
      .dx-placeholder {
        top: -4px;
      }
      .dx-texteditor-input {
        padding: 4px;
      }
    }
  }

}