.popup-contact {
  .search-panel-customize {
    height: 420px !important;

    .dx-scrollable-content {
      background-color: #fff;
    }
  }

  #search-panel {
    background-color: #fff !important;
  }
}
