  #dropzone-external {
    border-width: 2px;
    border-style: dashed;
    padding: 10px;
  }

  #dropzone-external > * {
    pointer-events: none;
  }

  #dropzone-external.dropzone-active {
    border-style: solid;
  }

  .widget-container > span {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 16px;
  }

  #dropzone-image {
    max-width: 100%;
    max-height: 100%;
  }

  #dropzone-text > span {
    font-weight: 100;
    opacity: 0.5;
  }

  #upload-progress {
    display: flex;
    margin-top: 10px;
  }

  .flex-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  
  #upload-box {
    width: 420px;
    margin: auto;
    height: 160px;
    background: #ECECEC;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    .btn-browse-file {
      margin-top: 14px;
    }
  }
  .upload-popup-wrapper {
    .dx-popup-normal {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      
      .dx-popup-bottom {
        border-top: 1px solid #dfdfdf;
      }
    }
  }