// .dealer-management {

// }
.dx-button-has-text .dx-button-content {
  padding: 5px 16px;
  background-color: green;
  color: white;
}
.dx-toolbar-items-container {
  margin-bottom: 20px;
}
.Edit_more .dx-widget.dx-button-content {
  width: 100% !important;
}
.headerform__menuitems .dx-widget {
  width: 100% !important;
}
.headerform__menuitems .dx-widget .dx-button-content {
  justify-content: center;
}
.CancelBTN .dx-button-content {
  background-color: white !important;
  color: black !important;
  border: 1px solid black;
}
