/* header filter */
.dx-header-filter-menu {
  .dx-overlay-content {
    .dx-popup-content {
      height: auto;
      border-bottom: none;
      padding: 10px;
    }
  }

  .dx-popup-bottom {
    border-top: 1px solid #dfdfdf;
  }

  &.dx-popup-wrapper {
    .dx-list-search {
      .dx-texteditor-input-container {
        .dx-placeholder {
          &:before {
            padding: 0 0 0 32px;
          }
        }
      }
    }
  }
}
.dx-header-filter-menu .dx-popup-bottom.dx-toolbar .dx-toolbar-after {
  flex-direction: inherit !important;
}

.grid-view-customize {
  .dx-datagrid {
    .dx-datagrid-header-panel {
      .dx-toolbar-after {
        .dx-toolbar-item:last-child {
          // display: none !important;
        }
      }
    }
  }
}

.base-gridview {
  height: auto;
  max-height: 100%;
  overflow: auto;
  position: relative;
  // z-index: 999999;

  .dx-datagrid .dx-column-indicators {
    float: right !important;
  }

  .dx-header-row td[role="columnheader"] .dx-datagrid-text-content {
    float: left;
    margin-left: 0px !important;
    margin-right: 0px !important;
  }

  & .dx-scrollbar-horizontal.dx-scrollbar-hoverable {
    // display: block !important;

    & .dx-scrollable-scroll.dx-state-invisible {
      & .dx-scrollable-scroll-content {
        background-color: rgba(181, 181, 181, 0.7);
        box-shadow: 0 0 0 1px transparent;
      }
    }
  }

  & .dx-scrollable-container {
  }

  #gridContainer {
    .dx-popup-content {
      padding: 4px;
    }
  }
  .dx-datagrid {
    background: #ffffff;

    .dx-datagrid-header-panel {
      background: #ffffff;
      .dx-toolbar-after {
        .dx-item-content {
          display: flex;
          align-items: center;
        }
        .dx-toolbar {
          background: #ffffff;
        }
        .dx-toolbar-item:last-child {
          // display: none !important;
        }
      }

      .dx-datagrid-table {
        .dx-col-fixed {
          background: #ffffff;
        }

        .dx-column-indicators {
          margin-left: 10px !important;
          float: right !important;
        }
      }
    }
  }
  .TextLeftSLA[role="gridcell"] {
    text-align: right !important;
  }
  .TextLeftGrid {
    text-align: right !important;
  }

  .dx-datagrid-header-panel {
    .dx-toolbar {
      .dx-toolbar-after {
        .dx-toolbar-item {
          &:nth-last-child(2) {
            margin-right: 60px;

            .dx-toolbar-item-content {
            }
          }

          &:last-child {
            // width: 60px;

            .dx-toolbar-item-content {
              display: flex;
              justify-content: center;
            }
          }
        }
      }
    }
  }
}
