.Content_Managent {
  .header-layout {
    justify-content: space-between;
  }
}

// .dx-htmleditor.dx-htmleditor-outlined .dx-htmleditor-content {
//   display: none;
// }
.Email_title .dx-htmleditor-content {
  line-height: 1.5 !important;
  padding: 8px 15px !important;
}
.Delete_Post_Detail {
  margin-left: 15px !important;
}
.itemHTML .dx-button-content {
  background: #fff !important;
}
.itemHTML .dx-button-text {
  color: black !important;
}
.text-size {
  font-size: 15px !important;
}
// .htmlEditor_Content_SMS {
//   width: 61% !important;
// }
