.search-panel-visible {
  .dx-button-content {
    background-color: transparent;
  }

  .dx-scrollable-content {
    width: 100%;
  }

  .dx-field-item .dx-toggle-controls-paddings {
    padding-left: 0px;
    padding-right: 10px;
  }
}
