// .dealer-management {

// }
.dx-button-has-text .dx-button-content {
  padding: 6px 15px;
  background-color: green;
  color: white;
  text-align: center;
  min-height: 66px;
}
.dx-toolbar-items-container {
  margin-bottom: 0px;
}
.dataGridCategory.dx-datagrid-table .dx-datagrid-table-fixed {
  background-color: white !important;
}
.categoryGrid .dx-datagrid-header-panel {
  display: none !important;
}
.CancelBTN .dx-button-content {
  background-color: white !important;
  color: black !important;
  border: 1px solid black;
}
