@import '../../../themes/variables.common.scss';

.dms {
  .drawer {
    height: calc(100% - $header-bar-height);
  }
  #navigation-header {
    .dx-toolbar-items-container {
      height: $toolbar-height;
    }
  }
}
.skycs {
  .drawer {
    height: calc(100% - $header-bar-height);
    position: fixed;
    top: 60px;
    right: 0;
    bottom: 0;
    left: 0;
  }

  .dx-drawer-content {
    position: absolute;
    top:0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow-y: auto;
  }

  #navigation-header {
    .dx-toolbar-items-container {
      height: $toolbar-height;
    }
  }
}
